<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>planszowki</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.srk.pkg.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rejestracja</display-name>
    <servlet-name>Rejestracja</servlet-name>
    <servlet-class>com.srk.pkg.Rejestracja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rejestracja</servlet-name>
    <url-pattern>/Rejestracja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.srk.pkg.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.srk.pkg.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edytuj_profil</display-name>
    <servlet-name>Edytuj_profil</servlet-name>
    <servlet-class>com.srk.pkg.Edytuj_profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edytuj_profil</servlet-name>
    <url-pattern>/Edytuj_profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aktualizuj_profil</display-name>
    <servlet-name>Aktualizuj_profil</servlet-name>
    <servlet-class>com.srk.pkg.Aktualizuj_profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aktualizuj_profil</servlet-name>
    <url-pattern>/Aktualizuj_profil</url-pattern>
  </servlet-mapping>
</web-app>